body,
html {
  margin: 0;
  padding: 0;
}

$bgcolor: #F1E6EA;
$menu-text-active: #866B7E;
$menu-text: #181818;
$btn-default: $menu-text-active;
$bg-footer: #3F3E43;

$font-inter: 'Inter';

.general_bg_color {
  background-color: $bgcolor;
}

.custom-containder {
  max-width: 1472px; //1440
  padding: 0 1rem;
  margin: 0 auto;
}

.btn-default {
  padding: .5625rem 1.875rem;
  background-color: $btn-default;
  border-radius: 6.25rem;
  color: #FFF;
  text-align: center;
  text-shadow: 0px .25rem .25rem rgba(0, 0, 0, 0.5);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: $font-inter;
  font-size: 1rem;
  font-weight: 400;
}

ul {
  list-style-type: none;
}